
@font-face {
    font-family: 'BebasNeueRegular';
    src: url('fonts/BebasNeue-webfont.eot');
    src: url('fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/BebasNeue-webfont.woff') format('woff'),
    url('fonts/BebasNeue-webfont.ttf') format('truetype'),
    url('fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.header-clock{
    border-bottom-right-radius: 35px;
    text-align: center;
    padding: 17px;
    background-color: #2d2b2b;
    min-width: 250px;
}
.header-clock ul{
    padding: 0;
    color: white;
    display:inline;
    font-size:25px;
    text-align:center;
    font-family:'BebasNeueRegular', Arial, Helvetica, sans-serif;
}
.header-clock--animate-color-green{
    -moz-animation:color-clock-green 1s linear infinite alternate-reverse;
    -webkit-animation:color-clock-green 1s linear infinite alternate-reverse;
}
.header-clock--animate-color-yellow{
    -moz-animation:color-clock-yellow 1s linear infinite alternate-reverse;
    -webkit-animation:color-clock-yellow 1s linear infinite alternate-reverse;
}
#Date {
    font-family:'BebasNeueRegular', Arial, Helvetica, sans-serif;
    font-size:16px;
    text-align:center;
}
.header-clock ul>li {
    display:inline;
    text-align:center;
    font-family:'BebasNeueRegular', Arial, Helvetica, sans-serif;
}
.header-clock ul li a {
    text-decoration:none;
    color:#00c6ff;
}
.dinner_clock{
    display: none;
}
#point {
    position:relative;
    -moz-animation:mymove 1s ease infinite;
    -webkit-animation:mymove 1s ease infinite;

}
.time_dinner{
    display: none;
}
@-webkit-keyframes color-clock-green
{
    0% {
        background: steelblue;
   
    }
    100% {
        background: cadetblue;
    }
}
@-webkit-keyframes color-clock-yellow
{
    0% {
        background: steelblue;
   
    }
    100% {
        background: #f4b619;
    }
}
#f4b619
@-webkit-keyframes mymove
{
    0% {
        transform: rotate(0deg);
        opacity:1.0;
        text-shadow:0 0 20px #00c6ff;
    }

    50% {
        opacity:0;
        text-shadow:none;
    }

    100% {
        transform: rotate(360deg);
        opacity:1.0;
        text-shadow:0 0 20px #00c6ff;
    }
}


@-moz-keyframes mymove
{
    0% {
        opacity:1.0;
        text-shadow:0 0 20px #00c6ff;
    }

    50% {
        opacity:0;
        text-shadow:none;
    }

    100% {
        opacity:1.0;
        text-shadow:0 0 20px #00c6ff;
    }
}
