.avatarProf{
     transition: .5s;
 }
.avatarProf:hover{
    filter: brightness(20%);
}
.left-card:hover .c-downloadAvatar{
    display: block ;
}

.downloadAvatar{
    color: antiquewhite;
    position: relative;
}

.downloadAvatar a:hover{
    color: antiquewhite;
}

.c-downloadAvatar{
    font-size: 10px;
    display: none;
    color: aliceblue;
    position: absolute;
}

.c-downloadAvatar{
}

.left-card{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.online{
    color:green;
}

.offline{
    color:red;
}


/* перевертыш*/

.card-profile {

    position: relative;
    perspective: 1000px;
}
.front, .back {
    position: absolute;
    width: 100% !important;
    height: 100% !important;
    left: 0;
    top: 0 !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    transition: 1s;
    backface-visibility: hidden;

}
.front {
    background-color: #fff;
}
.back {
	top: 35%;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
}
.backendava{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #BDBDBD;
}
.card-profile:hover .front {transform: rotateY(180deg);}
.card-profile:hover .back {transform: rotateY(360deg);}
.image-preview{
    width: 120px;
    height: 100px;
    margin-bottom: 11px;
    border-radius: 50%;
}
.back .form-image{
    width: 120px;
}
.image-preview img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
