.main {
    background: url(ban.jpg) no-repeat;
    background-size: cover;
    display: table;
    width: 100%;
    position: relative;
}

.main:after {
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    z-index: -1;
    opacity: .85;
    position: absolute;

}


/*------------------------ 2.1 Full Menu ------------------------*/

.full-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 103;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s 0s, visibility 0s 0.3s;
}

/* Full Menu */

.full-menu .modal-close {
    /* 'X' icon */
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    padding: 50px;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background:rgba(0, 0, 0, 0.3) url(../img/cd-icon-close.svg)no-repeat center center;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    visibility 0s 0.3s, opacity 0.3s 0s;
    transition: transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s;
}

.no-touch .full-menu .modal-close:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.full-menu.visible {
    background-size: 100%;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.7s, visibility 0s;
}

.full-menu .fullmenu-content {
    -webkit-overflow-scrolling: touch;
    height: 100%;

}
.full-menu .fullmenu-content .card-img {
    width: 20%;
}
.full-menu.visible .modal-close {
    visibility: visible;
    opacity: 1;
    transition: transform 0.3s 0s, visibility 0s 0s, opacity 0.3s 0s;
    transform: scale(1);
    z-index: 101;
    padding: 0;
    left: 0;
}

@media only screen and (min-width: 1100px) {

    .full-menu .modal-close {
        height: 60px;
        width: 60px;
    }
    .full-menu p {
        font-size: 25px;
    }
}

.cd-transition-layer {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    z-index: -1;
}

.cd-transition-layer .bg-layer {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateY(-50%) translateX(-2%);
    transform: translateY(-50%) translateX(-2%);
    height: 100%;
    /* our sprite is composed of 25 frames */
    width: 2500%;
    background: url(../img/ink.png) no-repeat 0 0;
    background-size: 100% 100%;
}

.cd-transition-layer.visible {
    opacity: 1;
    visibility: visible;
    z-index: 102;
}

.cd-transition-layer.opening .bg-layer {
    animation: cd-sequence 1.0s steps(24);
    animation-fill-mode: forwards;
}

.cd-transition-layer.closing .bg-layer {
    animation: cd-sequence-reverse 1.0s steps(24);
    animation-fill-mode: forwards;
}

.no-cssanimations .cd-transition-layer {
    display: none;
}


@keyframes cd-sequence {
    0% {
        transform: translateY(-50%) translateX(-2%);
    }
    100% {
        transform: translateY(-50%) translateX(-98%);
    }
}




@keyframes cd-sequence-reverse {
    0% {

        transform: translateY(-50%) translateX(-98%);
    }
    100% {

        transform: translateY(-50%) translateX(-2%);
    }
}

.europa-plus-radio{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    border: none;
}
