.top-filter .top-filter__row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 16px;
    color: #000000;
  }

  .top-filter .top-filter__row:not(:last-child) {
    margin-bottom: 14px;
  }

  .top-filter .top-filter__row div {
    margin: 8px;
  }

  .top-filter .top-filter__row {
    margin: -8px;
  }

  .top-filter .top-filter__row .top-filter__block {
    padding: 6px 16px;
    border: 1px solid #eaeef1;
    border-radius: 4px;
    cursor: pointer;
  }

  .top-filter .top-filter__row .top-filter__inp {
    display: none;
  }

  .top-filter__inp:checked+.top-filter__block {
    background: #e7fded;
    border: 1px solid #2dbe56;
  }

  .top-filter .top-filter__row .top-filter__block.active {
    font-weight: 600;
    background: #e7fded;
    border: 1px solid #2dbe56;
  }
.input-file-row {
	display: inline-block;
}
.input-file {
	position: relative;
	display: inline-block;
}
.input-file span {
	position: relative;
	display: inline-block;
	cursor: pointer;
	outline: none;
	text-decoration: none;
	font-size: 14px;
	vertical-align: middle;
	color: rgb(255 255 255);
	text-align: center;
	border-radius: 4px;
	background-color: #419152;
	line-height: 22px;
	height: 40px;
	padding: 10px 20px;
	box-sizing: border-box;
	border: none;
	margin: 0;
	transition: background-color 0.2s;
}
.input-file input[type=file] {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}
 
/* Focus */
.input-file input[type=file]:focus + span {
	box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
 
/* Hover/active */
.input-file:hover span {
	background-color: #59be6e;
}
.input-file:active span {
	background-color: #2E703A;
}
 
/* Disabled */
.input-file input[type=file]:disabled + span {
	background-color: #eee;
}
 
/* Список c превью */
.input-file-list {
	padding: 10px 0;
}
.input-file-list-item {
	display: inline-block;
	margin: 0 15px 15px;
	width: 150px;
	vertical-align: top;
	position: relative;
}
.input-file-list-item img {
	width: 150px;
}
.input-file-list-name {
	text-align: center;
	display: block;
	font-size: 12px;
	text-overflow: ellipsis;
	overflow: hidden;
}
.input-file-list-remove {
	color: #fff;
	text-decoration: none;
	display: inline-block;
	position: absolute;
	padding: 0;
	margin: 0;
	top: 5px;
	right: 5px;
	background: #ff0202;
	width: 16px;
	height: 16px;
	text-align: center;
	line-height: 16px;
	border-radius: 50%;
}
.btsbackconedit{
	padding: 4px;
color: rgb(76, 84, 84);
font-size: 13px;
}
.globallasted{
	border: 2px dashed rgb(56, 69, 131);
	width: fit-content;
	margin-bottom: 4px;
}