.product-item{
    display: flex;
    flex-direction: column;
    border-bottom: 2px dashed #CCC;
    margin: 20px 10px;
    padding-bottom: 10px;

}

.product-image img{
    transition: transform .2s ease-in;
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}

.product-image img:hover{
    transform: scale(0.9);
}

.product-image{
    max-width: 300px !important;
  max-height: 250px;
  overflow: hidden;
  min-width: 300px !important;
  background-color: #E8E8E8;;
}

.product-column{
    flex-basis: 100%;
    min-width: 100%;
    display: flex;
    align-items: center;
    margin: 5px;
}

.product-action{
    justify-content: space-around;
}

.products{
    width: 100%;
}

.flex-row{
    display: flex;
    gap: 7px;
}