.product-item{
    display: flex;
    height: 100px;
    border-bottom: 2px dashed #CCC;
    margin: 20px 10px;
    padding-bottom: 10px;

}

.product-image img{
    height: 100%;
}

/* .product-image{
    flex-basis: 25%;
    min-width: 25%;
} */

.product-column{
    flex-basis: 16.6%;
    min-width: 16.6%;
    display: flex;
    align-items: center;
}

.product-action{
    justify-content: space-around;
}

.products{
    width: 100%;
}

.flex-row{
    display: flex;
    gap: 7px;
}