.chat-list li .chat-content .box {
    display: inline-block;
    margin-bottom: 10px;
    color: #263238;
	background-color: beige;
}
.bg-light-info {
    background-color: #cfecfe;
}

.box {
    border-radius: 4px;
    padding: 10px;
}

.chat-main-box .chat-right-aside .chat-list {
    max-height: none;
    height: 100%;
    padding-top: 40px;
}



@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg); } }

@-moz-keyframes rotate {
  from {
    -moz-transform: rotate(0deg); }
  to {
    -moz-transform: rotate(360deg); } }

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

.right-side-toggle {
  position: relative; }

.right-side-toggle i {
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1s;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 1s;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: rotate;
  -moz-animation-duration: 2s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  animation-name: rotate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: absolute;
  top: 18px;
  left: 18px; }

.right-sidebar {
  position: fixed;
  right: -240px;
  width: 240px;
  display: none;
  z-index: 1100;
  background: #ffffff;
  top: 0px;
  padding-bottom: 20px;
  height: 100%;
  -webkit-box-shadow: 5px 1px 40px rgba(0, 0, 0, 0.1);
  box-shadow: 5px 1px 40px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .b-b {
    border-bottom: 1px solid rgba(120, 130, 140, 0.13);
}
.b-t {
    border-top: 1px solid rgba(120, 130, 140, 0.13);
}
  .right-sidebar .rpanel-title {
    display: block;
    padding: 24px 20px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 15px;
    background: #20aee3; }
    .right-sidebar .rpanel-title span {
      float: right;
      cursor: pointer;
      font-size: 11px; }
      .right-sidebar .rpanel-title span:hover {
        color: #ffffff; }
  .right-sidebar .r-panel-body {
    padding: 20px; }
    .right-sidebar .r-panel-body ul {
      margin: 0px;
      padding: 0px; }
      .right-sidebar .r-panel-body ul li {
        list-style: none;
        padding: 5px 0; }

.shw-rside {
  right: 0px;
  width: 240px;
  display: block; }

.chatonline img {
  margin-right: 10px;
  float: left;
  width: 30px; }

.chatonline li a {
  padding: 13px 0;
  float: left;
  width: 100%; }
  .chatonline li a span {
    color: #67757c; }
    .chatonline li a span small {
      display: block;
      font-size: 10px; }

/*******************
 Right side toggle
*******************/
/*******************/
/*Chat widget*/
/*******************/
.chat-list {
  margin: 0px;
  padding: 0px; }
  .chat-list li {
    list-style: none;
    margin-top: 30px; }
    .chat-list li .chat-img {
      display: inline-block;
      width: 45px;
      vertical-align: top; }
      .chat-list li .chat-img img {
        width: 45px;
        border-radius: 100%; }
    .chat-list li .chat-content {
      width: calc(100% - 140px);
      display: inline-block;
      padding-left: 15px; }
      .chat-list li .chat-content h5 {
        color: #bcc3d3; }
      .chat-list li .chat-content .box {
        display: inline-block;
        margin-bottom: 10px;
        color: #263238; }
    .chat-list li .chat-time {
      display: inline-block;
      text-align: right;
      width: 80px;
      font-size: 13px;
      color: #bcc3d3; }
    .chat-list li.odd .chat-content {
      text-align: right;
      width: calc(100% - 90px); }
    .chat-list li.odd .box {
      clear: both; }
    .chat-list li.odd + .odd {
      margin-top: 0px; }
    .chat-list li.reverse {
      text-align: right; }
      .chat-list li.reverse .chat-time {
        text-align: left; }
      .chat-list li.reverse .chat-content {
        padding-left: 0px;
        padding-right: 15px; }

/*******************/
/*Chat widget*/
/*******************/
.chat-main-box {
  position: relative;
  overflow: hidden; }
  .chat-main-box .chat-left-aside {
    position: relative;
    width: 250px;
    float: left;
    z-index: 9;
    top: 0px;
    border-right: 1px solid rgba(120, 130, 140, 0.13); }
    .chat-main-box .chat-left-aside .open-panel {
      display: none;
      cursor: pointer;
      position: absolute;
      left: -webkit-calc(100% - 1px);
      top: 50%;
      z-index: 100;
      background-color: #fff;
      -webkit-box-shadow: 1px 0 3px rgba(0, 0, 0, 0.2);
      box-shadow: 1px 0 3px rgba(0, 0, 0, 0.2);
      border-radius: 0 100px 100px 0;
      line-height: 1;
      padding: 15px 8px 15px 4px; }
    .chat-main-box .chat-left-aside .chat-left-inner {
      position: relative; }
      .chat-main-box .chat-left-aside .chat-left-inner .chatonline {
        position: relative;
        height: 90%; }
      .chat-main-box .chat-left-aside .chat-left-inner .form-control {
        height: 60px;
        padding: 15px;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#398bf7), to(#398bf7)), -webkit-gradient(linear, left top, left bottom, from(rgba(120, 130, 140, 0.13)), to(rgba(120, 130, 140, 0.13)));
        background-image: -webkit-linear-gradient(#398bf7, #398bf7), -webkit-linear-gradient(rgba(120, 130, 140, 0.13), rgba(120, 130, 140, 0.13));
        background-image: -o-linear-gradient(#398bf7, #398bf7), -o-linear-gradient(rgba(120, 130, 140, 0.13), rgba(120, 130, 140, 0.13));
        background-image: linear-gradient(#398bf7, #398bf7), linear-gradient(rgba(120, 130, 140, 0.13), rgba(120, 130, 140, 0.13)); }
      .chat-main-box .chat-left-aside .chat-left-inner .style-none {
        padding: 0px; }
        .chat-main-box .chat-left-aside .chat-left-inner .style-none li {
          list-style: none;
          overflow: hidden; }
          .chat-main-box .chat-left-aside .chat-left-inner .style-none li a {
            padding: 20px; }
            .chat-main-box .chat-left-aside .chat-left-inner .style-none li a:hover, .chat-main-box .chat-left-aside .chat-left-inner .style-none li a.active {
              background: #ebf3f5; }
  .chat-main-box .chat-right-aside {
    width: calc(100% - 250px);
    float: left; }
    .chat-main-box .chat-right-aside .chat-rbox {
      height: auto;
      position: relative; }
    .chat-main-box .chat-right-aside .chat-list {
      max-height: none;
      height: 100%;
      padding-top: 40px; }
      .chat-main-box .chat-right-aside .chat-list .chat-text {
        border-radius: 6px; }
    .chat-main-box .chat-right-aside .send-chat-box {
      position: relative; }
      .chat-main-box .chat-right-aside .send-chat-box .form-control {
        border: none;
        border-top: 1px solid rgba(120, 130, 140, 0.13);
        resize: none;
        height: 80px;
        padding-right: 180px; }
        .chat-main-box .chat-right-aside .send-chat-box .form-control:focus {
          border-color: rgba(120, 130, 140, 0.13); }
      .chat-main-box .chat-right-aside .send-chat-box .custom-send {
        position: absolute;
        right: 20px;
        bottom: 10px; }
        .chat-main-box .chat-right-aside .send-chat-box .custom-send .cst-icon {
          color: #67757c;
          margin-right: 10px; }
