:root{
    --mdc-theme-primary: #ff9800;
}

.weight{
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
}

.weight .mdc-slider{
    width: 80%;
}
.weight>.weight-value{
    width: 14% !important;
}