body{
	background: #5e5e5e;
	font-family: roboto;
	background-image: url(astedbackground.jpg);
}

.logo{
	text-align: center;
	color: rgb(77, 71, 71);
	font-size: 30px;
	padding-bottom: 10px;
	padding-top: 5px;
	font-family: fantasy;
}

.menu-savebtn{
	margin-top:20px; 
	padding: 10px; 
	cursor: pointer;
}

header{
	font-size: 22px;
	background: #fff;
	width: 80%;
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 8px 8px 0px 0px;
	border-bottom: 1px solid;
	display: flex;
	justify-content: center;
	margin: 0 auto;
}

article{
	background: #fff;
	width: 80%;
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 0px 0px 8px 8px;
	justify-content: center;
	margin: 0 auto;
}

button {
	padding: 4px 14px;
	border: 1px solid rgb(95, 235, 219);
	background-color: rgb(17, 139, 96);
	color: white;
	font-weight: 600;
	font-size: 12px;
	transition: .3s ease-out;
}

button:hover {
    -webkit-box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
	transition: .3s ease-out;
	background-color: #a347c4;
}

footer{
	text-align: center;
	color: rgb(77, 71, 71);
}

footer > a {
	color: rgb(77, 71, 71);
	text-decoration: none;
}

textarea{
	width: 97.5%;
    padding: 10px;
    height: 400px;
	border: solid 1px rgba(51,51,51,0.12);
    background: rgba(246,246,246,0.2);
}

.progress {
	width: 100%;
	height: 48px;
	position: relative;
	display: flex;
	overflow: hidden;
	font-size: .75rem;
	background-color: #e9ecef;
}
.progress-title {
	width: 100%;
	display: flex;
	justify-content: center;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	color: #0f0b0a;
	position: absolute;
	top: 20%;
	text-align: center;
	left: 50%;
	font-family: sans-serif;
	transform: translate(-50%, -50%);
}
@-webkit-keyframes statusprogressbars {
    0% {
        background-position-x:1rem
    }
}

@keyframes statusprogressbars {
    0% {
        background-position-x:1rem
    }
}

.statusprogressbar {
background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
background-size: 1rem 1rem;
}

.statusbar{
	width: 25%;
	background-color: #b6c2d1 !important;
	-webkit-animation: 1s linear infinite statusprogressbars;
	animation: 1s linear infinite statusprogressbars;
}

@media (prefers-reduced-motion: reduce) {
    .statusbar {
        -webkit-animation: none;
        animation:none
    }
}

.forminstall{
	display: table-caption;
	padding: 8px;
}

.next_btn{
	display: flex;
    justify-content: end;
    flex-direction: column-reverse;
}

.next_btn > button{
	border: 0px;
	background-color: steelblue;
    color: #fff;
    padding: 12px;
    margin-left: 5px;
}

.next_btn > button:hover {
    -webkit-box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
	transition: .3s ease-out;
	background-color: #a347c4;
}


.next_btn > button:disabled{
	border: 0px;
	background-color: #bec6cd;
    color: #fff;
    padding: 12px;
    margin-left: 5px;
}
.next_btn > button:disabled:hover{
	background-color: #bec6cd;
}

.row{
	display: flex;
}
.jc-b {
	justify-content: space-between;
    min-width: 600px;
    align-items: center;
}


.install-container{
	display: flex;
    justify-content: center;
}
